{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div id="compose-view" style="display: none;">
        <h3>New Post</h3>
        <form id="compose-form">
            <textarea 
                    class="form-control" 
                    id="compose-body" 
                    placeholder="What is on your mind?">
            </textarea>
            <input type="submit" class="btn btn-primary"/>
        </form>
    </div>
    <div id="content-view">
        <h3 class="title"></h3>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination d-flex justify-content-center">
          <li class="page-item previous"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item next"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
    <!-- <script type="text/babel" src="{% static 'network/react/Follow.js' %}"></script> -->
{% endblock %}

