{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div id="compose-view">
        <h3>New Post</h3>
        <form id="compose-form">
            <textarea 
                    class="form-control" 
                    id="compose-body" 
                    placeholder="What is on your mind?">
            </textarea>
            <input type="submit" class="btn btn-primary"/>
        </form>
    </div>
    <div id="content-view">
    </div>
    <!-- <script type="text/babel" src="{% static 'network/react/Follow.js' %}"></script> -->
{% endblock %}

